<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                <h2 class="text-center">Add product</h2>
                <form action="/admin/add-products" method="POST" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control">

                    <label for="">Catogery</label>
                    <select name="Catogery" class="form-control" id="">
                        <option value="">Select</option>
                        <option value="Bangle">Bangle</option>
                        <option value="Drops">Drops</option>
                        <option value="Bracelet">Bracelet</option>
                        <option value="Chain">Chain</option>
                        <option value="Necklace">Necklace</option>
                        <option value="Padasaram">Padasaram</option>
                        <option value="Ring">Ring</option>
                    </select>
                    

                    <label for="">Making charge in %</label>
                    <input type="text" name="MC" class="form-control">

                    <label for="">price</label>
                    <input type="text" name="Price" class="form-control">

                    <label for="">Weight</label>
                    <input type="text" name="Weight" class="form-control">

                    <label for="">Image</label>
                    <input type="file" name="Image" class="form-control">

                    <button type="submit" class="btn btn-success mt-4">Submit</button>
                </form>
               
            </div>
        </div>
    </div>
</section>